<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>khai</display-name>
    <servlet-name>khai</servlet-name>
    <servlet-class>hello_world.controller.khai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>khai</servlet-name>
    <url-pattern>/khai</url-pattern>
  </servlet-mapping>
  <display-name>hello_world</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>hello</display-name>
    <servlet-name>hello</servlet-name>
    <servlet-class>hello_world.controller.hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hello123</display-name>
    <servlet-name>hello123</servlet-name>
    <servlet-class>hello_world12.controller.hello123</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello123</servlet-name>
    <url-pattern>/hello123</url-pattern>
  </servlet-mapping>
</web-app>